@import url('https://fonts.googleapis.com/css2?family=Roberto:wght@400;700&display=swap');

.OrdersPage {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}